@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}


header {
  background-color: #6e8e94;
  padding: 10px 0;
}
.caja{
  width: 940px;
  position: relative;
  margin: 0 auto;
}
h1{
    position: relative;
    left: 0%;
    
}

nav{
  position: absolute;
  top:110px;
  right: 0;
  list-style: none;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase;
  color: #4d8163;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  transition: 2s;
}

nav a:hover{
  color: #f7f46a;
  text-decoration: underline;
  list-style: none;
}

.wrap{
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/fullstack.jpg);
}
.wrap-texto{
  color: rgb(155, 59, 123);
  text-align: center;
  width: 100%;
  transform: scale(1.3);
 }
 /*/PIE DE PAGINA/*/
/*Footer*/
footer{
  margin: 40px 0px 0px;
  justify-content: center;
  text-align: center;
}

.footer-logo > p{
  font-family: 'Raleway', sans-serif;
}

.logo-social-media{
  margin: 2%;
  max-width: 70px;
  max-height: 70px;
  transition: 3s;
}

.logo-social-media:hover{
  transform:translateY(-10px);
}
/*Fin del footer*/                             